body {
    background-color: #0d1b2a;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e1dd;
}

.main_nav {
    padding: 100px;
    margin-left: 20px;
    text-align: center;
    background-color: #415a77;
    display: flex;
    flex-direction: row;
}

.main_nav nav{
    gap: 8px;
    font-weight: bold;
}